<div class="list-card-container card-group">
    <div class="card bg-dark text-white">
        <img src="../../../../../assets/movies/spiderman-no-way-home.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Spiderman No way home</h5>
            <p class="card-text">2021</p>
            <p class="card-text">Acción</p>
        </div>
    </div>
    <div class="card bg-dark text-white">
        <img src="../../../../../assets/movies/alerta-roja.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Alerta Roja</h5>
            <p class="card-text">2021</p>
            <p class="card-text">Acción</p>
        </div>
    </div>    <div class="card bg-dark text-white">
        <img src="../../../../../assets/movies/parasitos.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Parasitos</h5>
            <p class="card-text">2019</p>
            <p class="card-text">Suspenso</p>
        </div>
    </div>    <div class="card bg-dark text-white">
        <img src="../../../../../assets/movies/saw-spiral.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Saw Spiral</h5>
            <p class="card-text">2021</p>
            <p class="card-text">Terror</p>
        </div>
    </div>
</div>